import { Metadata } from "next";
import { PostPage } from "../../PostPage";

const id = "$ID";
const category = "$CATEGORY";
const title = "$TITLE";
const body = "$BODY";
const thumbnail = $THUMBNAIL;
const viewCount = $VIEWCOUNT;

export async function generateMetadata(): Promise<Metadata> {
    return {
        title: title,
        description: body ? body.split('').slice(0, 500).join('') : undefined,
        openGraph: {
            images: thumbnail ? [thumbnail] : [],
        },
        alternates: {
            canonical: `https://blog.creco.dev/post/${id}`,
        },
    }
}

export default function () {
    return <PostPage id={id} category={category} title={title} body={body} viewCount={viewCount} />;
}
