import { Metadata } from "next";
import { PostPage } from "../../PostPage";

const id = "$ID";
const category = "$CATEGORY";
const title = "$TITLE";
const body = "$BODY";
const thumbnail = $THUMBNAIL;

export async function generateMetadata(): Promise<Metadata> {
    return {
        title: title,
        description: body ? body.split('\n').slice(0, 10).join('\n') : undefined,
        openGraph: {
            images: thumbnail ? [thumbnail] : [],
        },
    }
}

export default function () {
    return <PostPage id={id} category={category} title={title} body={body} />;
}
